.one{
    list-style: square;
}
.two{
    list-style: lower-roman;
}
.imgs{
    display:flex;
    flex-direction: row;
    
}
img{
    width: 32em;
    border:0;
    margin:0;
}
p{
    margin:0;
    background-color: aquamarine;
}